{# Eigenentwicklung #}

{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}

{% block app_content %}
{% for i_base in range(0-current_user.is_authenticated,products|length,4) %}
  <div class="row">
    {% for i in range(i_base,i_base+4) %}
      {% if i < 0 %}
        <div class="col-md-3">
          <div class="panel panel-success">
            <div class="panel-heading">Add</div>
            <div class="panel-body" style="text-align: center;">
              <a href="{{ url_for('product.add_product') }}">
                <p style="font-size: xx-large;">
                  +
                </p>
                Add new product
              </a>
            </div>
          </div>
        </div>
      {% elif i < products|length %}
        <div class="col-md-3">
          <div class="panel panel-info">
            <div class="panel-heading">{{ products[i].name }}</div>
            <div class="panel-body">
              <p><span style="font-weight: bold;">Company:</span> {{ products[i].company.name }}</p>
              <img style="max-width: 200px; max-height: 100px;" src="data:image/png;base64,{{ products[i].image | b64encode }}" />
            </div>
            <div class="panel-footer">
              <div class="panel-editlink">
                {% if current_user.is_admin or current_user.id == products[i].user_id %}
                  <a href="{{ url_for('product.edit_product', productid=products[i].id) }}">edit</a>
                {% endif %}
              </div>
              <div class="panel-by">by {{ products[i].user_created.username }}</div>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="col-md-2"></div>
  </div>
{% endfor %}
{% endblock %}