{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block app_content %}
<h2>Newest arguments</h2>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% for arg in args %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>{{ arg.pro_prod.name }} ({{ arg.pro_prod.company.name }}) vs {{ arg.con_prod.name }} ({{ arg.con_prod.company.name }})</h4>
        </div>
        <div class="panel-body">
          {{ arg.comment }}
        </div>
        <div class="panel-footer">
          <div class="panel-editlink">
            {% if current_user.id == arg.user_created.id or current_user.is_admin %}
              <a href="#">edit</a> - <a href="#">delete</a>
            {% endif %}
          </div>
          <div class="panel-by">by {{ arg.user_created.username }} on {{ arg.date_created.strftime("%d.%m.%Y %H:%M") }}</div>
          <div style="clear:both"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}