{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Product{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="" method="POST">
  {{ form.csrf_token() }} 
  {{ form.pro_product.label }} {% for error in form.pro_product.errors %}<span>{{ error }}</span>{% endfor %} {{ form.pro_product() }}
  {{ form.con_product.label }} {% for error in form.con_product.errors %}<span>{{ error }}</span>{% endfor %} {{ form.con_product() }}
  {{ form.comment.label }} {% for error in form.comment.errors %}<span>{{ error }}</span>{% endfor %} {{ form.comment() }}
  {{ form.submit() }}
</form>
{% endblock %}