{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Company{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/company/add" method="POST">
  {{ form.csrf_token() }}
  {{ form.name.label }} {% for error in form.name.errors %}<span>{{ error }}</span>{% endfor %} {{ form.name() }}
  {{ form.description.label }} {% for error in form.description.errors %}<span>{{ error }}</span>{% endfor %} {{ form.description() }}
  {{ form.country.label }} {% for error in form.country.errors %}<span>{{ error }}</span>{% endfor %} {{ form.country() }}
  {{ form.submit() }}
</form>
{% endblock %}