body { 
    padding-top: 70px; 
    max-width: 1024px;
    margin: 0 auto;
}

.navbar {
    max-width: 1024px;
    margin: 0 auto;
}

.navbar-right {
    padding-right: 15px;
}

h1, h2, h3 {
    text-align: center;
}