{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block app_content %}
  <div class="row">
    <!-- add empty div to center the form //-->
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
{#
<form method="POST" action="">
  {{ form.csrf_token() }}
  {{ form.username.label }} {{ form.username(size=20) }}
  {{ form.password.label }} {{ form.password(size=20) }}
  {{ form.remember_me.label }} {{ form.remember_me(size=20) }}
  {{ form.submit }}
</form>
#}
{% endblock %}