{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST" action="/auth/login">
  {{ form.csrf_token }}
  {{ form.username.label }} {{ form.username(size=20) }}
  {{ form.password.label }} {{ form.password(size=20) }}
  {{ form.remember_me.label }} {{ form.remember_me(size=20) }}
  {{ form.submit }}
</form>
  <!-- <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form> //-->
{% endblock %}